@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

:root {
  --darkGreen: #264653;
  --turquoise: #2a9d8e;
  --saffron: #e9c46b;
  --lightOrange: #f3a261;
  --darkOrange: #e66f51;
}

body,
.App {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.App {
  text-align: center;
  padding: 2% 5%;
  margin-bottom: 20px;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city,
.event-number {
  width: 200px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: 75px auto 0;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.alerts-container {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  text-align: center;
}

.error-alert-container {
  position: relative;
  margin: 10px 0 20px;
  text-align: center;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Media queries for super small screen sizes */
@media screen and (max-width: 344px) {
  .App {
    padding: 2% 2%;
  }

  #city-search {
    margin: 20px auto 0;
    width: 80%;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .event {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .event h1,
  .event p,
  .event-location p {
    text-align: center;
  }

  .details-btn {
    position: relative;
    margin-top: 10px;
    align-self: center;
  }

  .App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .alerts-container {
    top: 40px;
    width: 80%;
  }
  .error-alert-container {
    top: 10px;
    width: 80%;
  }
}

/* Medium sized screens */
@media screen and (min-width: 345px) and (max-width: 768px) {
  .alerts-container {
    top: 100px;
    width: 60%;
  }
  .error-alert-container {
    top: 20px;
    width: 60%;
  }
  .charts-container {
    grid-template-columns: 1fr;
  }
}
