:root {
  --darkGreen: #264653;
  --turquoise: #2a9d8e;
  --saffron: #e9c46b;
  --lightOrange: #f3a261;
  --darkOrange: #e66f51;
}

header {
  background-color: var(--darkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 5%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
}

.logo {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
  header {
    padding: 10px 2%;
  }
}
